{% extends 'main.html' %}
{% load static %}
{% load index %}

{% block content %}
<!-- Om brukeren ikke er logget inn, så sendes de tilbake til hovedsiden -->
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'edit-problem.css' %}">
    <div class="container">
        <h1 class="main-title">
            Endre problem
        </h1>
        <hr>
        <form method="pos" action="" class="problem-edit-form col-12 col-md-7">
            {% for name, type in problem_fields.items %}
                {% if name != " problem_id" %}
                    {% if type != "Date" %}
                        {% if type == "Text" %}
                            <label for="{{name}}">{{name|title}}:</label>
                            <textarea name={{name}} placeholder="{{name}}">{{problem|index:forloop.counter0}}</textarea>
                        {% else %}
                            <label for="{{name}}">{{name|title}}:</label>
                            <input name={{name}} type="{{type}}" placeholder="{{name}}" value="{{problem|index:forloop.counter0}}">
                        {% endif %}
                    {% else %}
                        <label for="{{name}}">{{name|title}}:</label>
                        <input name={{name}} type="{{type}}" placeholder="{{name}}" value="{{problem|index:forloop.counter0|date:'Y-m-d'}}">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% else %}
    <script>
        window.location.href = "/"
    </script>
{% endif %}
{% endblock %}