{% extends "main.html" %}
{% load markup_tags %}

{% block content %}
<div class="container pt-3"> <!-- TODO make container have different background from body -->
	<a href="/">< Tilbake</a>
	<h1 class="main-title">{{problem.tittel}}</h1>
	<p class="card-detail-desc">{{problem.beskrivelse}}<p class="card-detail-date">Postet: 01.01.2023</p></p>
	<div class="card-detail-top">
		<div class="category-container">
			<p class="category" style="background-color: #{{problem.kategori.farge}}">
				{{problem.kategori.navn}}
			</p>
			<p class="subcategory" style="background-color: #{{problem.kategori.under_kategori.farge}}">
				{{problem.kategori.under_kategori.navn}}
			</p>
		</div>
	</div>
	<hr class="mt-1">
	<div class="card-guide-container d-flex flex-column">
		{{problem.guide|apply_markup:"markdown"}}
		<a class="text-center" href="/ticket/{{problem.problem_id}}">Har du fortsatt problemer? Kontakt Helpdesk her</a>
	</div>
</div>
{% endblock %}