{% extends "main.html" %} {# Gjør slik at det elementer inni content blir lagt til i main.html #}


{% block content %}
<div class="container overflow-hidden">
	<div class="row">
		<div class="col-12 mb-5">
			<h1 class="main-title">	Acaippa FAQ </h1>
			<p class="slogan">Så hjelpe meg gud om du kontakter helpdesk...</p>
		</div>
		<div class="col-12 row mt-5">
			<div class="col-12 filter-container">
				<input type="text" name="filter-text" class="text-filter col-4" placeholder="Hva er problemet?">

				<select class="col-2" name="category-filter" class="">
					<option>Kategorier:</option>
				</select>

				<select class="col-2" name="category-filter" class="">
					<option>Under-kategorier:</option>
				</select>

				<button>Søk</button>
			</div>
			<div class="col-12 card-container mt-5">
				{% for problem in problems %}
					<div class="card-margin col-12 col-md-6 col-lg-4">
						<div class="card" onclick="window.location.href ='problem/{{problem.problem_id}}'">
							<h1 class="card-title col">
								{{problem.tittel}}
							</h1>
							<div class="card-top-container overflow-hidden mb-1">
								<div class="category-container">
									<p class="category" style="background-color: #{{problem.kategori.farge}};">
										{{problem.kategori.navn}}
									</p>
									<p class="subcategory" style="background-color: #{{problem.kategori.under_kategori.farge}};">
										{{problem.kategori.under_kategori.navn}}
									</p>
								</div>
							</div>
							<hr class="mt-0">
							<p class="card-description">{{problem.beskrivelse}}</p>
							<div class="card-bottom">
								<p class="card-date">Postet: {{problem.dato_postet}}</p>
								<!-- <p class="card-click-info">Trykk for å lese mer ></p> -->
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
