{% extends "main.html" %} {# Gjør slik at det elementer inni content blir lagt til i main.html #}

{% load static %}
{% load index %}


{% block content %}
<div class="container overflow-hidden">
	<div class="row">
		<div class="col-12 mb-5">
			<h1 class="main-title">	Acaippa FAQ </h1>
			<p class="slogan">Så hjelpe meg gud om du kontakter helpdesk...</p>
		</div>
		<div class="col-12 row mt-5 p-0">
			<form method="POST" action="filter" class="col-12 filter-container">
				{% csrf_token %}
				{% if "filter-text" in filters %}
					<input type="text" name="filter-text" class="text-filter col-4" placeholder="Hva er problemet?" value="{{filters|index:'filter-text'}}">
				{% else %}
					<input type="text" name="filter-text" class="text-filter col-4" placeholder="Hva er problemet?">
				{% endif %}

				<select class="col-2" name="category-filter" class="">
					<option value="none" selected disabled hidden>Kategorier:</option>
					{% for category in categories %}
						{% if "category-filter" in filters and filters|index:"category-filter" == category.navn %}
						<option value="{{category.navn}}" selected="selected">{{category.navn}}</option>
						{% else %}	
							<option value="{{category.navn}}">{{category.navn}}</option>
						{% endif %}
					{% endfor %}
				</select>

				<select class="col-2" name="subcategory-filter" class="">
					<option value="none" selected disabled hidden>Under-kategorier:</option>
					{% for subcategory in subcategories %}
						{% if "subcategory-filter" in filters and filters|index:"subcategory-filter" == subcategory.navn %}
						<option value="{{subcategory.navn}}" selected="selected">{{subcategory.navn}}</option>
						{% else %}	
							<option value="{{subcategory.navn}}">{{subcategory.navn}}</option>
						{% endif %}
					{% endfor %}
				</select>

				<button onclick="this.form.submit()" class="btn btn-primary">Søk</button>
				{% if filters|length > 1 %}
					<a href="/">Reset filtre</a>
				{% endif %}
			</form>
			{% if user.is_authenticated %}
				<button class="add-form-button btn btn-dark col-sm-2 col-6 ms-4" onclick="window.location.href='/addproblem'"><span class="add-form-text">+ Problem</button>
			{% endif %}
			<div class="col-12 card-container mt-5">
				{% if problems|length != 0 %}
					{% for problem in problems %}
						<div class="card-margin col-12 col-md-6 col-lg-4">
							<div class="card problem-card" onclick="checkClick(this, '{{problem.problem_id}}')">
								<div class="card-title-edit-container d-flex flex-row">
									<h1 class="card-title col">
										{{problem.tittel}}
									</h1>
									{% if user.is_authenticated %}
										<div class="auth-div">
											<img src="{% static 'icons/pencil-square.svg' %}" alt="Endre ikon" class="edit-icon" onclick="window.location.href = '/editproblem/{{problem.problem_id}}'">
											<img src="{% static 'icons/trash3.svg' %}" alt="Fjern ikon" class="delete-icon" onclick="showOverlay('{{problem.problem_id}}', '{{problem.tittel}}')">
										</div>
									{% endif %}
								</div>
								<div class="card-top-container overflow-hidden mb-1">
									<div class="category-container">
										<p class="category" style="background-color: #{{problem.kategori.farge}};">
											{{problem.kategori.navn}}
										</p>
										<p class="subcategory" style="background-color: #{{problem.under_kategori.farge}};">
											{{problem.under_kategori.navn}}
										</p>
									</div>
								</div>
								<hr class="mt-0">
								<p class="card-description">{{problem.beskrivelse}}</p>
								<div class="card-bottom">
									<p class="card-date">Postet: {{problem.dato_postet}}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>Ingen problemer.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="delete-confirm-overlay">
	<div class="delete-confirm">
		<h1>Slett problem</h1>
		<p>Er du sikker på at du vil slette <span id="problemName"></span>?</p>
		<div class="d-flex flex-row justify-content-between mt-5">
			<button class="col-5 btn btn-danger" onclick="hideOverlay(true)">Ja</button>
			<button class="col-5 btn btn-success" onclick="hideOverlay(false)">Nei</button>
		</div>
	</div>
</div>

<script src="{% static 'scripts/card-click.js' %}"></script>
<script src="{% static 'scripts/overlay.js' %}"></script>
{% endblock %}
