{% extends "main.html" %}

{% block content %}
<div class="container"> <!-- TODO change color -->
	<div class="ticket-body mt-5 mb-5">
		<h1 class="main-title">Kontakt helpdesk</h1>
		<p class="slogan">Hjalp ingen av brukerveiledningene? Kontakt helpdesken her så fikser vi problemet.</p>
		<hr>
		<form class="ticket-form mt-5">
			<input type="email" name="ticket-email" class="email-ticket col-3" placeholder="Email:">
			<input type="text" name="ticket-topic" class="topic-ticket col-3" placeholder="Emne:">
			<textarea class="ticket-content col-4" rows=5 name="ticket-content" placeholder="Forklar problemet i detalj:"></textarea>
			<button class="ticket-button col-1">Send Inn</button>
		</form>
	</div>
</div>
{% endblock %}